@font-face {
    src: url("Timer.ttf");
    font-family: Timer;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #EEEEEE;
}

.container {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 575px;
    background-color: #1B244A;
    border: 6px solid #7888CE;
    border-radius: 10px;
}

h1 {
    margin: 20px 40px;
    font-size: 40px;
    color: #7888CE;
}

.table {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    margin: 15px auto;
}

.score {
    text-align: center;
}

.score-tbl {
    border-radius: 5px;
    background-color: #080001;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.score-nbr {
    font-family: Timer;
    font-size: 100px;
}

.score-btn {
    font-family: Timer;
    margin: 30px auto;
    
    
}

.score-btns {
    font-family: Timer;
    padding: 10px;
    border: 1px solid #9AABD8;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #9AABD8;
    cursor: pointer;
}

.score-btns:hover {
    background-color: #9AABD8;
    color: #1B244A;
}

.controls {
    margin: 15px auto 15px auto;
    width: 250px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #F94F6D;
    border: 1px solid #F94F6D;
    border-radius: 5px;
    background-color: transparent;
    letter-spacing: 1px;
}

.controls:hover {
    background-color: #9AABD8;
    color: #1B244A;
    border: 1px solid #1B244A;
}